@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');

/* START SCROLLBAR SECTION */ 
html::-webkit-scrollbar {
  width: 12px;
  
}

html::-webkit-scrollbar-track {
  background: #b6d7dc;
}

html::-webkit-scrollbar-thumb {
  background: #166BB8;
}

html::-webkit-scrollbar-thumb:hover {
  background: #164FB8;
}

html::-webkit-scrollbar-thumb:active {
  background: #1618B8;
}
/* END SCROLLBAR SECTION */ 


/* START CUSTOM CLASSES */ 
.h1-mod {
  font: 400 60px/120% 'Playfair Display', serif;
  color: #64BAAA
}

@media(max-width: 768px) {
  .h1-mod {
    font: 400 50px/120% 'Playfair Display', serif
  }
}

.p-mod {
  font: 500 16px/140% 'Fauna One', Georgia, serif;
  max-width: 300px;
  /* margin: top bottom left right */
  /* color: #000; */
}
/* END CUSTOM CLASSES */ 


/* START NAVBAR SECTION */
nav {
  background-color: white ;
  padding-bottom: 50px;
  /* border-bottom-right-radius: 3px;  
  border-bottom-left-radius: 3px;   */
  box-shadow: 0 2px 4px 0 rgb(24 99 85);
}

.dropdown-menu{
  background-color: white !important;
  border-color: #17a2b8 !important;
  margin-top: 5px !important;
  
}

.dropdown-menu:hover{
  background-color: white !important;
  border: 0.5px solid #17a2b8 ;

}

.dropdown-item{
  background-color: white !important;
}

.dropdown-item a:hover{
  background-color: #c0d6da !important;

}

.dropdown-item:hover{
  background-color: #c0d6da !important;
}

.d-item{
  border-bottom: 0.4px solid #17a2b8;
}
.d-item:hover{
  border-bottom: 0.4px solid #17a2b8;
}
/* END NAVBAR SECTION */


/* START HERO SECTION */ 
.hero-section {
  position: relative;
  height: auto;
  max-height: 500px;
  min-height: 500px;
  margin-top: 65px;
  padding: 94px 6% 146px;
  background-color: transparent;
    background-image: url("hero-banner.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
/* END HERO SECTION */ 


/* .how-it-works{

} */

.sign-up-client {
  margin-top: 80px;
}

.sign-up-therapist {
  margin-top: 80px;
}

.get-started{
  margin-top: 80px;
}

.about {
  margin-top: 80px;

}

.error {
  margin-top: 80px;

}

.scroll-bg{
  width: 30px;
  height: 40px;
  border-radius: 10%;
  background-color: #17a2b8;
}

.scroll-bg:hover{
  background-color: #164FB8;

}

